.DS_Store
lib/load.inc
multipass-role-arns
multipass-role-arns/*
cloudformation/params/*
!cloudformation/params/.keep
!cloudformation/params/*-params-skeleton.json
cloudformation/tags
!cloudformation/tags/.keep
test/cloudformation
site/
